version: '1'

volumes:
  myOutput:

services:
  pytest-playwright:
    image: pytest-playwright
    volumes:
      - ./result:/result:rw
      - ./Case2:/Case2:rw
    command: pytest -m playwright_only --browser webkit --browser firefox --browser chromium Case2
  